div.singlepage-candidate-wrapper {
  display: flex;
  min-height: 50vh;
  padding: 40px 100px;
  min-width: 70vw;
  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 550px) {
    font-size: 8px;
  }
}

div.img-first-wrapper {
  min-height: 30vh;
  margin: auto 0;
  @media (max-width: 550px) {
    display: flex;
    align-items: flex-end;
  }
  img {
    background-color: rgba(245, 245, 245);
    border: 10px solid rgba(1, 41, 83);
    width: 300px;
    height: auto;
    @media (max-width: 550px) {
      width: 150px;
      height: 150px;
    }
  }
}

div.name-and-birthday-wrapper {
  display: flex;
  padding: 20px;
  h1 {
    padding: 20px 20px;
  }
  @media (max-width: 550px) {
    display: flex;
    flex-direction: column;
  }
}

div.email-and-education-wrapper {
  display: flex;
  padding: 20px;
  h1 {
    padding: 0 20px;
  }
  h1.single-candidate-page-email-h1 {
    @media (max-width: 1000px) {
      display: none;
    }
  }
}

div.singlepage-candidate-container-master {
  background-image: url('./background\ final.jpg');
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

div.info-second-wrapper {
  color: rgba(1, 41, 83);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 0.623);
}

/* table*/

div.singlepage-candidate-table-container {
  min-height: 35vh;
  margin: 0 40px;
}

div.singlepage-singlecandidatereport-wrapper {
  font-size: 20px;
  background-color: rgba(245, 245, 245, 0.623);
  min-height: 10vh;
  display: flex;
  color: rgba(1, 41, 83);
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  border: 3px solid whitesmoke;
  @media (max-width: 1000px) {
    font-size: 10px;
  }
  button {
    @media (max-width: 1000px) {
      width: 60px;
    }
  }
}

div.singlepage-singlecandidatereport-wrapper > button {
  background-color: rgba(1, 41, 83);
  color: whitesmoke;
  padding: 1em;
  border-radius: 5px;
}

div.singlepage-singlecandidatereport-wrapper > button:hover {
  cursor: pointer;
  color: rgba(1, 41, 83);
  background-color: rgba(245, 245, 245, 0.623);
}

h1.single-candidate-page-dateofbirth-h1 {
  @media (max-width: 550px) {
    display: none;
  }
}

#reports-table {
  color: whitesmoke;
  font-size: 40px;
  text-align: center;
}
