div.addCandidateModal-container{
    height: 75vh;
    width: 90vw;
    display: flex;
    position: fixed;
    background-color: rgba(2, 4, 4, 0.903);
    z-index: 1;
    justify-content: center;
    align-items: center;
    
}
div.addCandidateModal-wrapper{
    height: 30vh;
    width: 20vw;
    position: relative;
    min-height: 400px;
    width: 300px;
}

button#closeaddcandidate-modal{
    position: absolute;
    top: 0;
    right: 0;
}