div.cardcandidates-wrapper {
  max-height: 70vh;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 1000px) {
    height: 80vh;
    width: 100%;
    padding: 0;
  }
}

.cardcandidates-wrapper-each > img {
  background-color: whitesmoke;
  @media (max-width: 1000) {
    width: 100%;
  }
}

.removecandidate {
  justify-self: flex-end;
  letter-spacing: 2px;
  padding: 0.3em;
  background-color: whitesmoke;
  border: none;
  @media (max-width: 450px) {
    max-width: 50px;
    font-size: 10px;
  }
}

table.cardcandidates-wrapper-each {
  flex-wrap: wrap;
  border: 2px solid whitesmoke;
  width: 70vw;
  padding: 5em;
  position: relative;
  color: whitesmoke;
  text-align: center;
  background-color: rgba(1, 41, 83, 0.5764705882);
  @media (max-width: 1000px) {
    padding: 0;
  }
}

div.cardcandidates-wrapper::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(0, 0, 0, 0.693);
}
div.cardcandidates-wrapper::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 25px;
}

th,
td {
  border: 2px solid whitesmoke;
}

td > img {
  background-color: whitesmoke;
}

td > button:hover {
  cursor: pointer;
  background-color: rgb(162, 8, 8);
  color: whitesmoke;
}

.items {
  font-size: 1em;
  text-align: center;
  margin: 1em;
  flex-wrap: wrap;
}

.remove-email {
  @media (max-width: 1000px) {
    display: none;
  }
}

.remove-education {
  @media (max-width: 540px) {
    font-size: 10px;
  }
}

h2.title {
  letter-spacing: 15px;
  color: whitesmoke;
  @media (max-width: 1000px) {
    letter-spacing: 8px;
  }
  @media (max-width: 550px) {
    letter-spacing: 5px;
  }
}

.cardcandidates-wrapper a {
  text-decoration: none;
  color: white;
}

.cardcandidates-p-name-link:hover {
  background-color: whitesmoke;
  color: rgba(1, 41, 83);
}

