div.adminpanelpage-container {
    height: 100vh;
    width: 100vw;
    background-image: url("./background\ final.jpg");
}

div.adminpanelpage-wrapper{
padding: 50px;


}

div.button-wrapper{
    display: flex;
    justify-content: space-around;
}

// div.content-wrapper{
 
   

// }

//   button{
//       background-color: rgba(1, 41, 83, 0.5764705882);
//       color: whitesmoke;
//   }