div.adminpanelpage-container {
  height: 100vh;
  width: 100vw;
  background-image: url('./background\ final.jpg');
}

div.adminpanelpage-wrapper {
  padding: 50px;
}

div.button-wrapper {
  display: flex;
  justify-content: space-around;
}
