div.wizzard3-container {
  color: white;
  text-align: center;

  textarea {
    background-color: rgba(1, 41, 83);
    height: 100px;
    width: 400px;
    font-size: 16px;
    color: whitesmoke;
  }
}

.selected-wrapper {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: green;
  }
  .redness {
    color: red;
  }
}

.input-selected {
  font-size: 1.5em;
  margin-right: 20px;
}

#phase,
#status,
#id-selected,
#date {
  width: 25em;
  color: whitesmoke;
  background-color: rgba(1, 41, 83);
  font-size: 1em;
}

.submit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-report-button {
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
  border: none;
  background-color: whitesmoke;
}

.submit-report-button:hover {
  cursor: pointer;
  background-color: green;
  color: whitesmoke;
}

#wrong-input {
  color: red;
}
