div.login-comp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30vw;
  height: 100%;
  padding: 20px;
  background-color: rgba(245, 245, 245, 0.623);

  @media (max-width: 850px) {
    max-width: 80vw;
    min-height: 35vh;
    font-size: 8px;
  }
  @media (max-width: 350px) {
    max-width: 100vw;
    min-height: 35vh;
    font-size: 8px;
  }
}

p.login-admin {
  text-align: center;
  color: #012853;
  opacity: 1;
  font-size: 3.5em;
}

h2.admin-info {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #012853;
  font-size: 2em;
  text-align: center;
}

div.input {
  color: #012853;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

div > input {
  margin-bottom: 1rem;
  background-color: #012853;
  width: 20vw;
  height: 3vh;
  color: whitesmoke;
  font-size: 1.5em;
  @media (max-width: 850px) {
    width: 35vw;
  }
  @media (max-width: 350px) {
    width: 50vw;
  }
}

div.input button#sign-in {
  border-radius: 5px;
  padding: 5px;
  margin-top: 1em;
  background-color: #012853;
  color: whitesmoke;
  font-size: 25px;
  align-self: center;
}

button#sign-in:hover {
  cursor: pointer;
}

.wrong-input {
  margin: 0;
  color: red;
}
