div.addCompanyModal-container {
  height: 80vh;
  width: 80vw;
  display: flex;
  position: absolute;
  top: 80px;
  background-color: rgba(2, 4, 4, 0.903);
  z-index: 1;
  justify-content: center;
  align-items: center;
}
div.addCompanyModal-wrapper {
  height: 30vh;
  width: 20vw;
  position: relative;
  min-height: 400px;
  width: 300px;
}

button#closeaddcompany-modal {
  padding: 0.3em;
  cursor: pointer;
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  right: 0;
}

#add-company {
  font-size: 15px;
  padding: 1em;
  background-color: whitesmoke;
  color: rgba(1, 41, 83);
}

#add-company:hover {
  cursor: pointer;
  background-color: green;
  color: whitesmoke;
}
