div.login-page-containter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('./background\ final.jpg');
  background-size: cover;
  position: fixed;
}

h1.welcome {
  margin: 0.5em;
  flex-wrap: wrap;
  font-size: clamp(4.5rem, 2.5vw, 3rem);
  color: whitesmoke;
  letter-spacing: 10px;
  @media (max-width: 850px) {
    margin: 0;
    font-size: clamp(3rem, 1.5vw, 2rem);
    text-align: center;
  }
  @media (max-width: 500px) {
    margin: 0;
    font-size: 20px;
    text-align: center;
  }
}

div.login-page-wrapper {
  display: flex;
  @media (max-width: 850px) {
    flex-direction: column;
  }
}

img.logo {
  background-image: url('../../../wolf1.png');
  background-position: center;
  background-size: contain;
  animation: spin 20s linear infinite;
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #fff,
    inset 20px 0 60px rgba(1, 41, 83, 0.5764705882),
    inset -20px 0 60px whitesmoke,
    inset 20px 0 300px rgba(1, 41, 83, 0.5764705882),
    inset -20px 0 300px whitesmoke, 0 0 50px #fff,
    -10px 0 60px rgba(1, 41, 83, 0.5764705882), 10px 0 60px whitesmoke;
  @media (max-width: 850px) {
    width: 200px;
    height: 200px;
    justify-self: center;
  }
  @media (max-width: 350px) {
    width: 100px;
    height: 100px;
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

div.guest-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(1, 41, 83, 0.5764705882);
  color: whitesmoke;
  max-width: 30vw;
  height: 100%;
  @media (max-width: 850px) {
    max-width: 80vw;
    min-height: 35vh;
    font-size: 8px;
  }
  @media (max-width: 350px) {
    max-width: 100vw;
    min-height: 35vh;
    font-size: 8px;
  }
}

div.guest-login h2 {
  margin-top: 5vh;
  text-align: center;
  font-size: 3.5em;
}

div.guest-login p {
  margin: 5vh;
  flex-wrap: wrap;
  font-size: 2em;
  text-align: center;
}

div button.continue {
  border-radius: 5px;
  padding: 5px;
  font-size: 25px;
  max-width: fit-content;
  align-self: center;
  color: rgba(1, 41, 83, 1);
  background-color: whitesmoke;
}

div button.continue:hover {
  cursor: pointer;
}

div.img-father {
  text-align: center;
}

#hunt {
  display: inline;
  background-color: whitesmoke;
  max-width: fit-content;
  color: rgba(1, 41, 83, 1);
  border-radius: 8px;
}
