div.login-page-containter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('./background\ final.jpg');
  background-size: cover;
}

h1.welcome {
  margin: 15px;
  flex-wrap: wrap;
  font-size: 80px;
  color: whitesmoke;
}

div.login-page-wrapper {
  display: flex;
}

img.logo {
  width: 100px;
  height: 100px;
 background-image: url('../../../Cyber\ Wolf\ Logo.jpg');
 background-position: center;
 background-size: cover;
}

div.guest-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(1, 41, 83, 0.5764705882);
  color: whitesmoke;
  max-width: 30vw;
  height: 55vh;

}

div.guest-login h2 {
  margin: 20px;
  text-align: center;
  font-size: 50px;
}

div.guest-login p {
  margin: 10px;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

div button.continue {
  margin: 40px;
  border-radius: 5px;
  padding: 5px;
  font-size: 25px;
  max-width: fit-content;
  align-self: center;
  color:rgba(1, 41, 83,1); ;
  background-color: whitesmoke;
}

div button.continue:hover {
  cursor: pointer;
}
