#create-new-report {
  padding: 1em;
  background-color: whitesmoke;
  color: rgba(1, 41, 83);
}

#create-new-report:hover {
  cursor: pointer;
  background-color: green;
  color: whitesmoke;
}

#create-new-report {
  font-size: 15px;
}
